
body {
    font-family: 'Inter', sans-serif;
}


.tab-active {
    border-bottom-color: #4f46e5;
    color: #111827; 
    transition: all 0.2s ease-in-out; 
}


.tab-inactive {
    border-bottom-color: transparent;
    color: #6b7280; 
    transition: all 0.2s ease-in-out; 
}


.tab-inactive:hover {
    color: #374151; 
    border-bottom-color: #d1d5db; 
}
